#Assignment 1: Create two variables, one holding a number and the other holding your name. Then print both.

In [ ]:
age = 24
name = "Bhagyasree Sarker"
print("Age: ", age, end=" and ")
print("Name: ", name)

Age:  24 and Name:  Bhagyasree Sarker

#Assignment 2: Create variables of different types and use the type() function to check their types.

In [ ]:
a = 73
b = 53.14
c = "Python"
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

#Assignment 3: Fix the bad variable name above and create three more variables with good naming practices.

In [ ]:
bad2 = 21
bad_3 = 12
b3a3d5 = 45

#Assignment 4: Create a variable, assign it a value of one type, then reassign it to a different type and print both.

In [ ]:
var = "This is a string"
print(var)

var = 46
print(var)

This is a string
46

#Assignment 5: Create a 2D list representing a 3x3 matrix and perform operations like accessing, modifying, and iterating through it.

In [1]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [2]:
element_1_2 = matrix[0][1]  # First row, second column
element_2_3 = matrix[1][2]  # Second row, third column
print(f"Element at (0, 1): {element_1_2}")
print(f"Element at (1, 2): {element_2_3}")

Element at (0, 1): 2
Element at (1, 2): 6

In [3]:
print("Before modification:", matrix)
matrix[1][1] = 99  # Modify the center element (second row, second column)
print("After modification:", matrix)

Before modification: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
After modification: [[1, 2, 3], [4, 99, 6], [7, 8, 9]]

In [4]:
for i, row in enumerate(matrix):  #iterating row by row
    print(f"Row {i}: {row}")

Row 0: [1, 2, 3]
Row 1: [4, 99, 6]
Row 2: [7, 8, 9]

In [5]:
for i in range(len(matrix)):         # Iterating through rows
    for j in range(len(matrix[i])):  # Iterating through columns
        print(f"Element at ({i}, {j}): {matrix[i][j]}")

Element at (0, 0): 1
Element at (0, 1): 2
Element at (0, 2): 3
Element at (1, 0): 4
Element at (1, 1): 99
Element at (1, 2): 6
Element at (2, 0): 7
Element at (2, 1): 8
Element at (2, 2): 9

###Adding new row

In [6]:
new_row = [10, 11, 12]
matrix.append(new_row)
print("After adding a new row:", matrix)

After adding a new row: [[1, 2, 3], [4, 99, 6], [7, 8, 9], [10, 11, 12]]

###Removing row

In [7]:
removed_row = matrix.pop()
print("Removed row:", removed_row)
print("After removing the last row:", matrix)

Removed row: [10, 11, 12]
After removing the last row: [[1, 2, 3], [4, 99, 6], [7, 8, 9]]

#Assignment 6:Create a tuple with mixed data types and demonstrate its potential use cases in data structures like dictionaries.

In [9]:
person_info = ("Bhagyasree Sarker", 24, "Student", True)
print(person_info)

('Bhagyasree Sarker', 24, 'Student', True)

In [10]:
person_dict = {
    person_info: {"Salary": 75000, "Location": "New York"}
}

In [14]:
for key, value in person_dict.items():
    print(f"Key: {key} ; Value: {value}")

Key: ('Bhagyasree Sarker', 24, 'Student', True) ; Value: {'Salary': 75000, 'Location': 'New York'}

#Assignment 7:Create a list of tuples, where each tuple contains a student's name and their grade. Sort this list by grades.

In [15]:
students = [
    ("Alice", 88),
    ("Bob", 75),
    ("Charlie", 92),
    ("David", 85),
    ("Eve", 90),
    ("Frank", 78)
]

In [16]:
print(students)

[('Alice', 88), ('Bob', 75), ('Charlie', 92), ('David', 85), ('Eve', 90), ('Frank', 78)]

In [18]:
sorted_students = sorted(students, key=lambda x: x[1]) #Sort the list by grades

In [19]:
print(sorted_students)

[('Bob', 75), ('Frank', 78), ('David', 85), ('Alice', 88), ('Eve', 90), ('Charlie', 92)]

In [20]:
for name, grade in sorted_students:
    print(f"Student: {name}, Grade: {grade}")

Student: Bob, Grade: 75
Student: Frank, Grade: 78
Student: David, Grade: 85
Student: Alice, Grade: 88
Student: Eve, Grade: 90
Student: Charlie, Grade: 92

#Assignment 8: Create a dictionary representing a student with keys like 'name', 'roll_number', 'grades' (a list of subjects and marks).

In [25]:
student = {
    "name": "Bhagyasree Sarker",
    "roll_number": 201246,
    "grades": [  # List of tuples (Subject, Marks)
        ("Data Structure", 95),
        ("Algorithm", 88),
        ("Mechine Learing", 92),
        ("Image Processing", 85),
        ("Data Communitcation", 98)
    ]
}

print("Name:", student["name"])
print("Roll Number:", student["roll_number"])
print("Grades:")
for subject, marks in student["grades"]:
    print(f"  {subject}: {marks}")

Name: Bhagyasree Sarker
Roll Number: 201246
Grades:
  Data Structure: 95
  Algorithm: 88
  Mechine Learing: 92
  Image Processing: 85
  Data Communitcation: 98

#Assignment 9: Create a dictionary where keys are student names and values are lists of grades. Calculate the average grade for each student.

In [28]:
students_grades = {
    "Alice": [85, 90, 78, 92],
    "Bob": [70, 75, 80, 65],
    "Charlie": [88, 85, 90, 87],
    "David": [60, 65, 70, 72],
    "Eve": [95, 93, 97, 98]
}

for student, grades in students_grades.items():
    print(f"{student}: {grades}")

Alice: [85, 90, 78, 92]
Bob: [70, 75, 80, 65]
Charlie: [88, 85, 90, 87]
David: [60, 65, 70, 72]
Eve: [95, 93, 97, 98]

In [29]:
for student, grades in students_grades.items():
    average = sum(grades) / len(grades)  # Calculate average
    print(f"{student}: Average Grade = {average:.2f}")

Alice: Average Grade = 86.25
Bob: Average Grade = 72.50
Charlie: Average Grade = 87.50
David: Average Grade = 66.75
Eve: Average Grade = 95.75

#Assignment 10: Create a string that contains a simple bio data like name, age, and country. Extract each piece of information and print them separately.

In [30]:
data = "Name: Bhagyasree Sarker, Age: 24, Country: Bangladesh"

In [31]:
splite_parts = data.split(",")

name = splite_parts[0].split(":")[1].strip()   # Extract name
age = splite_parts[1].split(":")[1].strip()    # Extract age
country = splite_parts[2].split(":")[1].strip()  # Extract country

In [32]:
print("Extracted Information:")
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Country: {country}")

Extracted Information:
Name: Bhagyasree Sarker
Age: 24
Country: Bangladesh

#Assignment 11: Create a formatted string that includes data from a list or dictionary. For example, use a dictionary to store a person's information and format a string to include it.

In [38]:
person_info = {
    "name": "Bhagyasree Sarker",
    "age": 24,
    "country": "Bangladesh",
    "profession": "Bekar"
}

formatted_string = (
    f"Hello, my name is {person_info['name']} and I am {person_info['age']} years old. I'm from {person_info['country']} and that's why I'm {person_info['profession']} till now."
)
print(formatted_string)

Hello, my name is Bhagyasree Sarker and I am 24 years old. I'm from Bangladesh and that's why I'm Bekar till now.

#Assignment 12: Write a function that takes a string and returns a dictionary with the counts of each character in the string.

In [39]:
def char_count(s):
    counts = {}
    for char in s:
        # Increment the count if the character already exists in the dictionary
        if char in counts:
            counts[char] += 1
        else:
            # Otherwise, initialize the count to 1
            counts[char] = 1

    return counts

input_string = "hello world"
result = char_count(input_string)

print("Character counts:", result)

Character counts: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

#Assignment 13: Write a regex to find the Bangladesh phone number with all variations.
# 01454565767
# +8801963456340
# 0088785674657
# 01845-567567

In [70]:
import re

test_numbers = [
    "01454565767",        # Valid
    "+8801963456340",     # Valid
    "0088785674657",      # Invalid
    "01845-567567"        # Invalid
]

In [71]:
pattern = r"^(?:\+8801|8801|01)[1-9]{1}[0-9]{7,8}(-[0-9]{6,7})?$"

# Check each phone number against the regex pattern
# Check each number
for number in test_numbers:
    if re.match(pattern, number):
        print(f"{number}: Valid")
    else:
        print(f"{number}: Invalid")

01454565767: Valid
+8801963456340: Valid
0088785674657: Invalid
01845-567567: Invalid

#Assignment 14:Write a Python script that determines if a number is positive, negative, or zero using if-elif-else.

In [78]:
def check_number(num):
    if num > 0:
        print(f"{num} is positive.")
    elif num < 0:
        print(f"{num} is negative.")
    else:
        print(f"{num} is zero.")

number = float(input("Enter a number: "))  # Taking input from the user
check_number(number)

Enter a number: -9.8
-9.8 is negative.

#Assignment 15: Create a script that checks if a person is eligible for a senior citizen discount based on age and residency.

In [75]:
def check_senior_discount(age, is_resident):
    # Check if age is 60 or older and if the person is a resident
    if age >= 60 and is_resident:
        print("You are eligible for a senior citizen discount!")
    elif age >= 60 and not is_resident:
        print("You are 60 or older, but you are not eligible for the discount as you are not a resident.")
    elif age < 60 and is_resident:
        print("You are a resident, but you are not eligible for the senior citizen discount because you are under 60.")
    else:
        print("You are not eligible for the senior citizen discount.")

age = int(input("Enter your age: "))  # Get the age of the person
residency = input("Are you a resident? (yes/no): ").lower()  # Get residency status (yes/no)

is_resident = True if residency == 'yes' else False

check_senior_discount(age, is_resident)

Enter your age: 65
Are you a resident? (yes/no): yes
You are eligible for a senior citizen discount!

#Assignment 16:  Write a script that simulates a basic login system. Check username and password correctness.

In [76]:
def login_system(correct_username, correct_password):
    username = input("Enter your username: ")
    password = input("Enter your password: ")

    # Checking if username and password are correct
    if username == correct_username and password == correct_password:
        print("Login successful!")
    elif username != correct_username:
        print("Invalid username. Please try again.")
    elif password != correct_password:
        print("Incorrect password. Please try again.")

In [77]:
# Correct username and password
correct_username = "admin"
correct_password = "password123"

login_system(correct_username, correct_password)

Enter your username: admin
Enter your password: password123
Login successful!

#Assignment 17: Implement a system that categorizes a day based on temperature and weather conditions.

In [80]:
def categorize_day(temperature, weather_condition):
    # Categorizing temperature
    if temperature < 15:
        temp_category = "Cold"
    elif 15 <= temperature <= 25:
        temp_category = "Mild"
    else:
        temp_category = "Hot"

    # Categorizing weather conditions
    if weather_condition.lower() == "sunny":
        weather_category = "Sunny"
    elif weather_condition.lower() == "cloudy":
        weather_category = "Cloudy"
    elif weather_condition.lower() == "rainy":
        weather_category = "Rainy"
    else:
        weather_category = "Unknown weather condition"

    print(f"The day is {temp_category} and {weather_category}.")

temperature = float(input("Enter the temperature (in °C): "))  # Temperature input
weather_condition = input("Enter the weather condition (sunny/cloudy/rainy): ")  # Weather input

categorize_day(temperature, weather_condition)

Enter the temperature (in °C): 22
Enter the weather condition (sunny/cloudy/rainy): cloudy
The day is Mild and Cloudy.

#Assignment 18: Write a script that processes a list of temperature readings. If any temperature is above a certain threshold, print a warning.

In [81]:
def process_temp(temperature_readings, threshold):
    for temp in temperature_readings:
        if temp > threshold:
            print(f"Warning: Temperature {temp}°C exceeds the threshold of {threshold}°C!")

temperature_readings = [22, 35, 28, 40, 15, 18, 42]

threshold = 30

# Process the temperatures
process_temp(temperature_readings, threshold)

Warning: Temperature 35°C exceeds the threshold of 30°C!
Warning: Temperature 40°C exceeds the threshold of 30°C!
Warning: Temperature 42°C exceeds the threshold of 30°C!

#Assignment 19: Create a script that processes a dictionary of products, checking stock levels and generating restock alerts if necessary.

In [82]:
def check_stock(products, threshold):
    for product, stock in products.items():
        if stock < threshold:
            print(f"Alert: {product} is low on stock (only {stock} left). Consider restocking!")
        else:
            print(f"{product} is in stock with {stock} units.")

In [83]:
products = {
    'Laptop': 10,
    'Smartphone': 3,
    'Headphones': 20,
    'Monitor': 5,
    'Mouse': 15
}

# Set the threshold for low stock
threshold = 7

check_stock(products, threshold)

Laptop is in stock with 10 units.
Alert: Smartphone is low on stock (only 3 left). Consider restocking!
Headphones is in stock with 20 units.
Alert: Monitor is low on stock (only 5 left). Consider restocking!
Mouse is in stock with 15 units.

#Assignment 20: Write a function that calculates the factorial of a number and handles any potential errors.

In [84]:
def factorial(n):
    try:
        # Ensure the input is an integer
        if not isinstance(n, int):
            raise ValueError("Input must be an integer.")

        # Handle negative numbers
        if n < 0:
            raise ValueError("Factorial is not defined for negative numbers.")

        # Calculate the factorial using a loop
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

    except ValueError as e:
        return f"Error: {e}"
    except Exception as e:
        return f"An unexpected error occurred: {e}"

In [85]:
print(factorial(5))
print(factorial(-3))
print(factorial('abc'))
print(factorial(0))

120
Error: Factorial is not defined for negative numbers.
Error: Input must be an integer.
1

#Assignment 21: Write a script that reads a CSV file containing product information and converts it into a JSON file.

In [93]:
import csv

# Example 3: Writing to a CSV File
with open('data/example.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age", "City"])
    writer.writerow(["Alice", 28, "New York"])
    writer.writerow(["Bob", 22, "Los Angeles"])
    writer.writerow(["Carol", 24, "Chicago"])

In [94]:
with open('data/example.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '28', 'New York']
['Bob', '22', 'Los Angeles']
['Carol', '24', 'Chicago']

In [95]:
users = [
    {"name": "Alice", "age": 25, "email": "alice@example.com"},
    {"name": "Bob", "age": 30, "email": "bob@example.com"}
]
with open('data/users.json', 'w') as file:
    json.dump(users, file)

with open('data/users.json', 'r') as file:
    users = json.load(file)
    for user in users:
        print(f"{user['name']} ({user['age']}): {user['email']}")

Alice (25): alice@example.com
Bob (30): bob@example.com

In [97]:
import csv
import json

# Function to convert CSV to JSON
def csv_to_json(csv_filename, json_filename):
    try:
        # Open the CSV file for reading
        with open(csv_filename, mode='r', newline='', encoding='utf-8') as csv_file:
            csv_reader = csv.DictReader(csv_file)
            # Create an empty list to store the rows as dictionaries
            products = []

            # Read each row in the CSV and append it to the products list
            for row in csv_reader:
                products.append(row)

            # Write the products list to a JSON file
            with open(json_filename, mode='w', encoding='utf-8') as json_file:
                json.dump(products, json_file, indent=4)
            print(f"CSV data has been successfully converted to {json_filename}.")

    except FileNotFoundError:
        print(f"Error: The file {csv_filename} does not exist.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

# Example usage
csv_filename = '/content/data/example.csv'  # Input CSV filename
json_filename = '/content/data/users.json'  # Output JSON filename

# Convert the CSV file to JSON
csv_to_json(csv_filename, json_filename)

CSV data has been successfully converted to /content/data/users.json.

#Assignment 22: Create a log file writer that appends log messages to a file with timestamps.

In [99]:
from datetime import datetime

# Function to write log entries into a file
def write_log_to_file(log_file):
    # Log entries with their respective timestamps
    log_entries = [
        "2024-12-17 10:00:00 - INFO - This is an info message.",
        "2024-12-17 10:00:01 - WARNING - This is a warning message.",
        "2024-12-17 10:00:02 - ERROR - This is an error message.",
        "2024-12-17 10:00:03 - DEBUG - This is a debug message."
    ]

    # Open the file in append mode ('a') to add the log entries
    with open(log_file, 'a') as file:
        for entry in log_entries:
            file.write(entry + '\n')  # Write each log entry on a new line

    print(f"Log entries have been written to {log_file}")

# Example usage
log_filename = 'manual_application.log'  # Log file name
write_log_to_file(log_filename)

Log entries have been written to manual_application.log

In [102]:
import logging

# Configure the logger
def configure_logger(log_file):
    # Set up logging to a file with timestamps
    logging.basicConfig(
        filename=log_file,               # Log file name
        level=logging.DEBUG,             # Log level
        format='%(asctime)s - %(levelname)s - %(message)s',  # Log format with timestamp
        datefmt='%Y-%m-%d %H:%M:%S'       # Date format
    )

# Log function
def write_log(message, level='INFO'):
    # Choose log level
    if level == 'INFO':
        logging.info(message)
    elif level == 'WARNING':
        logging.warning(message)
    elif level == 'ERROR':
        logging.error(message)
    else:
        logging.debug(message)

# Example usage
log_filename = '/content/data/application.log'  # Log file name
configure_logger(log_filename)

# Write logs
write_log("This is an info message.", 'INFO')
write_log("This is a warning message.", 'WARNING')
write_log("This is an error message.", 'ERROR')
write_log("This is a debug message.", 'DEBUG')

print("Log messages have been written to", log_filename)

WARNING:root:This is a warning message.
ERROR:root:This is an error message.

Log messages have been written to /content/data/application.log

#Assignment 23: Write a function that calculates compound interest using the formula A = P(1 + r/n)^(nt).

In [103]:
def calculate_compound_interest(P, r, n, t):
    # Compound interest formula
    A = P * (1 + r / n) ** (n * t)

    return A

P = 1000  # Principal amount in dollars
r = 0.05  # Annual interest rate (5%)
n = 4  # Interest is compounded quarterly
t = 5  # The money is invested for 5 years

# Calculate compound interest
final_amount = calculate_compound_interest(P, r, n, t)
print(f"The final amount after {t} years is: ${final_amount:.2f}")

The final amount after 5 years is: $1282.04

#Assignment 24: Create a script that prints the current time and updates every second.

In [105]:
import time

def print_current_time():
    try:
        while True:
            # Get the current time
            current_time = time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())
            # Clear the screen (works on most systems)
            print("\033[\033[J", end="")
            # Print the current time
            print(f"Current time: {current_time}")
            # Wait for 1 second before updating
            time.sleep(1)
    except KeyboardInterrupt:
        print("\nTime display stopped.")

# Run the function
print_current_time()

[Current time: 2024-12-17 16:50:15
[Current time: 2024-12-17 16:50:16
[Current time: 2024-12-17 16:50:17
[Current time: 2024-12-17 16:50:18
[Current time: 2024-12-17 16:50:19
[Current time: 2024-12-17 16:50:20
[Current time: 2024-12-17 16:50:21
[Current time: 2024-12-17 16:50:22
[Current time: 2024-12-17 16:50:23

Time display stopped.

#Assignemnt 25: Create a simple package with at least two modules, each containing one function.

In [106]:
# __init__.py

In [109]:
# module1.py

def greet(name):
    return f"Hello, {name}!"

In [110]:
# module2.py

def add_numbers(a, b):
    return a + b